
<app-panorama [imagePath]="navPaths[navIdx]" [(sensorType)]="sensorType">

  <div appPelement class="extra" lon="250" lat="-10" rb="true" [ngClass]="navExtra == 2 ? '' : 'hide'">
    <img src="assets/icon/extra-guide@3x.png" width="140" height="120" />
  </div>

  <div appPelement class="exhibit" lon="123" lat="29" routerLink="/exhibit/medea">
    <span class="legend">Medea</span>
    William Wetmore Story
  </div>
  <div appPelement class="exhibit" lon="195" lat="13" routerLink="/exhibit/sappho">
    <span class="legend">Sappho</span>
    William Wetmore Story
  </div>
  <div appPelement class="exhibit" lon="298" lat="14" routerLink="/exhibit/sleepingfaun">
    <span class="legend">Sleeping Faun</span>
    Harriet Goodhue Hosmer
  </div>
  <div appPelement class="exhibit" lon="356" lat="8" routerLink="/exhibit/bustofevedisconsolate">
    <span class="legend">Bust of Eve Disconsolate</span>
    Hiram Powers
  </div>
  <div appPelement class="exhibit" lon="46" lat="7" routerLink="/exhibit/faith">
    <span class="legend">Faith</span>
    Hiram Powers
  </div>

</app-panorama>

<div id="sensor-control" [ngClass]="isGengar ? 'hide' : ''">
  <div *ngIf="!isGengar">
    <input id="r1" type="radio" name="radio_sensor_source" [value]="2" [(ngModel)]="sensorType" />
    <label for="r1">by deviceorientation</label>
  </div>
  <div *ngIf="!isGengar">
    <input id="r2" type="radio" name="radio_sensor_source" [value]="3" [(ngModel)]="sensorType" />
    <label for="r2">by devicemotion</label>
  </div>
  <div *ngIf="isGengar">
    <input id="r3" type="radio" name="radio_sensor_source" [value]="4" [(ngModel)]="sensorType" />
    <label for="r3">by gengar.sensor</label>
  </div>
  <div>
    <input id="r4" type="radio" name="radio_sensor_source" [value]="1" [(ngModel)]="sensorType" />
    <label for="r4">by manual</label>
  </div>
</div>

<div id="right-menu">

  <button id="btn-liveart-scaner" routerLink="/liveart-scaner"></button>

  <button id="btn-tour-list" [ngClass]="inTour ? 'active' : ''" (click)="showTourList()"></button>
  <div id="text-tour-list" *ngIf="inTour">70%</div>

</div>

<button id="btn-footer-menu-toggle"
  [ngClass]="footerMenuShow ? 'show' : ''"
  (click)="toggleFooterMenu()"></button>
<div id="footer-menu" [ngClass]="footerMenuShow ? 'show' : ''">
  <button id="btn-footer-menu-resturant" [ngClass]="navExtra == 1 ? 'active' : ''" (click)="navExtraSet(1)"></button>
  <button id="btn-footer-menu-toilet"    [ngClass]="navExtra == 2 ? 'active' : ''" (click)="navExtraSet(2)"></button>
  <button id="btn-footer-menu-elevator"  [ngClass]="navExtra == 3 ? 'active' : ''" (click)="navExtraSet(3)"></button>
  <button id="btn-footer-menu-exit"      [ngClass]="navExtra == 4 ? 'active' : ''" (click)="navExtraSet(4)"></button>
</div>

<router-outlet name="popup"></router-outlet>
