/* You can add global styles to this file, and also import other style files */

$pale-lilac: #e9e9f2;
$Blue-Primary: #00bcf2;

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: lightseagreen;
  overflow: hidden;
}

.global-font {
  font-family: OpenSans;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#root-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;

  // scale 1.33333
  /*
  width: 75%;
  height: 75%;
  transform: scale(1.3333333);
  margin: 12.5vh 12.5vw;*/
}

.sf {
  transform: translateZ(0px);
}
