
@import "../../styles.scss";

main {
  min-height: 100%;
  background: black;
  padding: 20px;

  #radius {
    padding: 25px 0;
    background: $pale-lilac;
    border-radius: 30px;
  }
}

#header {
  display: flex;
  height: calc(32px + 23px);
  margin-left: 5px;
}

#header > button {
  flex: 0 1 32px;
  width: 32px;
  height: 32px;

  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 32px 32px;

  padding: 0;
  margin: 0 15px;
}

#header > button.active:before {
  display: block;
  width: 42px;
  height: 3px;
  border-radius: 1.5px;
  background-color: $Blue-Primary;
  content: ' ';

  position: relative;
  bottom: -25px;
  left: -5px;
}

#btn-info {
  background-image: url('../../assets/icon/exhibit-information.svg');
}
#btn-av {
  background-image: url('../../assets/icon/exhibit-video.svg');
}
#btn-shop {
  background-image: url('../../assets/icon/exhibit-shopping.svg');
}
#header button + #btn-back {
  margin-left: auto;
  background-size: 32px;
  background-position: center;
  background-image: url('../../assets/icon/cancel.svg');
}
