<main>

<canvas #panoramaCanvas></canvas>

<div appPelement lon="67" lat="4" routerLink="/exhibit/1">CAST OF GIULIANO DE'MEDICI BY MICHELANGELO</div>
<div appPelement lon="68.5" lat="2" opacity="0.7" routerLink="/exhibit/1.a">Limestone statuette of a female votary</div>
<div appPelement lon="69.5" lat="1" opacity="0.4" routerLink="/exhibit/1.b">Statue of Diadoumenos. Roman Copy of a Greek </div>
<div appPelement lon="277" lat="8" routerLink="/exhibit/A">AAAAAAAA AAAAAAA AAAAAAA</div>
<div appPelement lon="150" lat="30" routerLink="/exhibit/B">BBBBBBBB BBBBBBB BBBBBBB</div>
<div appPelement lon="215" lat="20" routerLink="/exhibit/C">CCCCCCC CCCCCCC CCCCCCC</div>

<ng-content></ng-content>

</main>