
@import '../../styles.scss';

main {
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
}

.p-element:hover {
  background: rgba(0,0,0,0.5);
}

.p-element {
  @extend .global-font;

  font-weight: 600;
  font-size: 20px;
  transform: translateZ(0px) scale(0.5);
  color: white;

  padding: 20px;

  background: rgba(0,0,0,0.5);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 2px solid white;

  margin-top: -47px;
  margin-left: -20px;

  white-space: nowrap;

  cursor: pointer;
}

.p-element .legend {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 264px;

  display: block;
  font-size: 32px;
}

$p-size: 32px;
.p-element:before {
  display: block;
  width: $p-size;
  height: $p-size;
  content: ' ';
  border-bottom: 2px solid white;

  position: absolute;
  left: calc(-#{$p-size} - 6px);
  bottom: calc(-#{$p-size} + 14px);

  transform: rotate(-45deg);
}
