<main>

<canvas #panoramaCanvas></canvas>

<div appPelement lon="115" lat="27" routerLink="/exhibit/medea">
  <span class="legend">Medea</span>
  William Wetmore Story
</div>
<div appPelement lon="188" lat="10" routerLink="/exhibit/sappho">
  <span class="legend">Sappho</span>
  William Wetmore Story
</div>
<div appPelement lon="290" lat="12" routerLink="/exhibit/sleepingfaun">
  <span class="legend">Sleeping Faun</span>
  Harriet Goodhue Hosmer
</div>
<div appPelement lon="350" lat="2" routerLink="/exhibit/bustofevedisconsolate">
  <span class="legend">Bust of Eve Disconsolate</span>
  Hiram Powers
</div>
<div appPelement lon="42" lat="4" routerLink="/exhibit/faith">
  <span class="legend">Faith</span>
  Hiram Powers
</div>

<ng-content></ng-content>

</main>