
@import '../../styles.scss';

main {
  margin: 0px 17.8px;
}

#title-audio, #title-video {
  @extend .global-font;
  font-size: 14px;
  font-weight: bold;
}
#title-video {
  margin-top: 42px;
}

.audio {
  display: flex;
  align-items: center;

  margin: 12px 0 3px;
  padding: 15px 16px 11px 15px;

  @extend .global-font;
  font-size: 18px;

  border-radius: 16px;

  background-color: #ffffff;

  .title {
    padding-left: 15px;
  }
}

.video {
  margin-top: 12px;
  border-radius: 16px;
  overflow: hidden;
}
