
@import '../../styles.scss';

main {
  margin: 0 20px;
}

#title {
  @extend .global-font;
  font-size: 22px;
  font-weight: bold;
}

#sub {
  @extend .global-font;
  font-size: 16px;
  margin-bottom: 24px;
}

#describe {
  @extend .global-font;
  font-size: 18px;

  margin-bottom: 12px;
}

#artworks-title {
  @extend .global-font;
  font-size: 14px;
  font-weight: bold;

  color: $Blue-Primary;

  margin-bottom: 2px;
}

#artworks {
  margin: -5px;
}

.artwork {
  float: left;
  width: 50%;

  .container {
    width: 100%;

    .img {
      width: calc(100% - 10px);
      padding-top: calc(100% - 10px);
      height: 0;
      position: relative;

      border-radius: 6px;
      margin: 5px;

      overflow: hidden;

      img {
        position: absolute;
        top: 0;

        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
      }
    }

    .name {
      @extend .global-font;
      font-size: 14px;
      text-align: center;

      margin-top: 5px;
      margin-bottom: 20px;
    }
  }
}

#btn-start-tour {
  @extend .global-font;
  font-size: 16px;
  color: white;
  background-color: $Blue-Primary;

  border-radius: 30px;

  padding: 19px 20px;
  border: 0;

  margin: 0 auto;
  display: block;
  width: 160px;
}

#btn-back {
  position: absolute;
  top: 11px;
  right: 15px;

  width: 32px;
  height: 32px;
  display: block;

  border: 0;

  background-position: center;
  background-image: url('../../assets/cross.png');
  background-repeat: no-repeat;
  background-color: transparent;
}
