
@import '../../styles.scss';

#title {
  @extend .global_font;
  font-weight: bold;
  font-size: 22px;

  margin: 20px 20px 0;
}

#time {
  @extend .global_font;
  font-size: 16px;

  margin: 10px 20px 0;
}

#describe {
  @extend .global_font;
  font-size: 18px;

  margin: 10px 20px 0;
}

#banner {
  width: 100%;
}
