
@import '../../styles.scss';

#title {
  @extend .global-font;
  font-weight: bold;
  font-size: 22px;

  margin: 20px 20px 0;
}

#subtitle {
  @extend .global-font;
  font-size: 18px;

  margin: 20px 20px 0;
}

#time {
  @extend .global-font;
  font-size: 14px;

  margin: 0 20px 0;
}

#describe {
  @extend .global-font;
  font-size: 18px;

  margin: 20px 20px 0;
}

.property {
  @extend .global-font;

  .key {
    font-size: 14px;
    margin: 20px 20px 0;
  }

  .value {
    font-size: 18px;
    margin: 0 20px 0;
  }
}

#banner {
  width: 100%;
}
